{% extends "tower/base.html" %}
{% block head_title %}DOPEHOTZ - 로그인{% endblock %}
{% load socialaccount %}
{% load tower_extras %}

{% block content %}
<div class="layout_body">
    <div class="sub_title" style="background-image: url(/static/img/sub_main/sub_main02.jpg)">
        <div class="title_area">
            <h2>YOUR MUSIC</h2>
            <h1>ALL TRACK<span>{{ track_list.count }}</span></h1>
        </div>
    </div>
    <div class="content">
        <div class="track_filter_wrap">
            <ul>
                <li class="selected"><a href=".">RECENTLY POST</a></li>
                <li><a href="?order=play">TOP PLAYED</a></li>
                <li><a href="?order=like">TOP LIKED</a></li>
            </ul>
        </div>
        <ul class="mytrack_list">
            {% for track in track_list %}
                <li class="mytrack_list_item">
                    <div style="background-image: url({{ track.image_url|change_picture }})">
                        <div class="track_tool_btn"></div>
                        <ul class="track_tools">
                            <li>
                                <a href="#" class="item_edit_btn"></a>
                            </li>
                            <li>
                                <a href="#" class="item_del_btn"></a>
                            </li>
                        </ul>
                        <a class="play_trigger" data-tracknum="304330766">
                            <img src="/static/img/assets/play.png" />
                        </a>
        
                    </div>
                    <a href="#해당 트랙 링크" target="_blank" class="track_title">
                        <em>{{ track.title }}</em>
                    </a>
                </li>
            {% empty %}
            <ul class="mytrack_list_empty">
                <li>
                    <h2>아직 등록된 트랙이 없네요.
                        <br>지금 바로 트랙을 등록해 보세요!</h2>
                    <a href="#">트랙 등록하기</a>
                </li>
            </ul>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}