{% extends "tower/base.html" %}
{% block head_title %}DOPEHOTZ - 로그인{% endblock %}
{% load socialaccount %}
{% load tower_extras %}

{% block content %}
<div class="layout_body" id="app1">
        <div class="sub_title" style="background-image: url(/static/img/sub_main/sub_main03.jpg)">
            <div class="title_area">
                <h2>TOWER DOPEHOTZ</h2>
                <h1>NEW TRACK</h1>
            </div>
        </div>
    <div class="content">
        
        <div class="innercontent_layout_l">
            <form name="track_form">
                <div class="content_title_wrap">
                    <h3>TRACK INFO</h3>
                </div>
                <div class="content_tile">
                        <div class="tile_upper_title">
                            <h4>트랙소개(필수)</h4>
                        </div>
                    <div class="input_form">
                        <label for="trackdec">트랙에 대한 사연, 컨셉, 설명 등을 입력해 주세요.</label>
                        <textarea id="trackdec" name="tape_info" v-model="tape_info" maxlength="600" placeholder="트랙에 대한 사연, 컨셉, 설명 등을 입력해 주세요."></textarea>
                    </div>
                </div>
                <div class="content_tile">
                    <div class="tile_upper_title">
                        <h4>가사입력(선택)</h4>
                    </div>
                    <div class="input_form">
                        <label for="lyrics">가사가 있는 트랙일 경우 입력해주세요.</label>
                        <textarea id="lyrics" name="lyrics" v-model="lyrics" maxlength="1200" placeholder="이 곡의 가사를 적어주세요."></textarea>
                    </div>
                </div>
                <div class="content_tile">
                    <div class="tile_upper_title">
                        <h4>태그입력(선택)</h4>
                    </div>
                    <div class="input_form">
                        <div class="tag_wrap">
                            <label for="tracktag">태그를 정확하게 입력할 수록 많은 반응을 이끌어낼 수 있습니다.</label>
                            <input id="tracktag" type="text" class="tagged form_control" name="tag" data-removeBtn="true" placeholder="태그를 입력해주세요. / 엔터로 구분">
                        </div>
                    </div>
                </div>
                <div class="content_tile">
                    <div class="tile_upper_title">
                        <h4>공개 범위 설정</h4>
                    </div>
                    <div class="input_form">
                        <label for="public">상업적 사용 가능 여부를 설정해 주세요.</label>
                        <select name="public" id="public" v-model="public">
                            <option value="">라이센스 공개 범위</option>
                            <option value="0">상업적 사용 불가</option>
                            <option value="1">상업적 사용 허용</option>
                        </select>
                    </div>
                    <div class="input_form">
                        <label for="distribute">수정 및 배포 가능 여부를 설정해 주세요.</label>
                        <select name="distribute" id="distribute" v-model="distribute">
                            <option value="">라이센스 공개 범위</option>
                            <option value="0">수정 및 배포 불가</option>
                            <option value="1">수정 및 배포 허용</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="track_submit_wrap">
                <a class="track_submit" v-on:click="track_select">트랙 다시 선택</a>
                <button class="track_submit" v-on:click="track_submit">트랙 공개하기</button>
            </div>
        </div>
        <div class="innercontent_layout_r">
            <div class="content_title_wrap">
                <h3>PREVIEW</h3>
            </div>
            <div class="track_item_preview">
                <a class="opm_thumb" v-bind:style="style1Object">
                    <div class="opm_play rateit">
                        <img class="play_btn_img play_trigger" src="/static/img/assets/play.png"  data-tracknum="304330766">
                    </div>
                </a>
                <div class="opm_info">
                    <div class="opm_profile_img" style="background-image: url({{ track_data.user.avatar_url }});"></div>
                    <a>
                        <p>{{ track_data.user.username }}</p>
                    </a>
                    <a><h4>{{ track_data.title }}</h4></a>
                    <a class="opm_track_like" data-dope="좋아요 메시지"></a>
                </div>
                <div class="opm_feedback">
                    <span class="play_rate_btn"><p></p><a>0</a></span>
                    <span class="dope_btn"><p></p><a>0</a></span>
                    <span class="comnt_btn"><p></p><a>0</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        delimiters: ['##', '##'],
        el: "#app1",
        data: {
            style1Object: {
                'background-image': 'url({{ track_image|change_picture }})'
            },
            tape_info: '',
            lyrics: '',
            public: '',
            distribute: ''
        },
        methods: {
            track_submit: function(){
                var self = this;
                var tape_info_trim = self.trim(self.tape_info);

                if(!tape_info_trim){
                    alert('트랙 소개를 입력 해주세요.')
                    return false;
                }
               
                if (!self.public){
                    alert('상업적 사용 가능 여부를 설정해 주세요.');
                    return false;
                }
                
                if(!self.distribute){
                    alert('수정 및 배포 가능 여부를 설정해 주세요.');
                    return false;
                }
               
                axios({
                    method: 'post',
                    url: '{{ API_URL }}/v1/tracks/',
                    headers: {
                        'Authorization': 'JWT {{ JWT_TOKEN }}'
                    },
                    data: {
                        track_type: 'soundcloud',
                        track_id: '{{ track_data.id }}',
                        title: '{{ track_data.title }}',
                        tape_info: self.tape_info,
                        lyrics: self.lyrics,
                        is_public: Number(self.public),
                        is_distribute: Number(self.distribute),
                        tag: tagsArray[0].join(', '),
                        image_url: '{{ track_image }}'
                    }
                })
                .then(function (ee){
                    alert('트랙이 등록 되었습니다');
                    
                })
                .catch(error => {
                    if(error.response.data){
                        var msg = error.response.data;
                        
                        for(key in error.response.data){
                            if(Array.isArray(msg[key])){
                                alert(msg[key][0]);
                            }else{
                                alert(msg.detail);
                            }   
                        }
                    }
                });                
            },
            track_select: function(){
                location.href = '../../select/';
            },

            trim: function(stringToTrim){
                return stringToTrim.replace(/^\s+|\s+$/g,"");            
            }
        },
        mounted: function() {
        },
    })
</script>
{% endblock %}