{% extends "tower/base.html" %}
{% block head_title %}DOPEHOTZ - 로그인{% endblock %}
{% load socialaccount %}
{% block content %}
<div class="layout_body">
    <!-- 트랙이 있을때 -->
    <div class="sub_title" style="background-image: url(/static/img/sub_main/sub_main04.jpg)">
        <div class="title_area">
            <h2>SOCIAL</h2>
            <h1>EDIT PROFILE</h1>
        </div>
    </div>
    <div class="content">
        <div class="content">
            <div class="innercontent_layout_l">
                <div class="content_title_wrap">
                    <h3>ARTIST INFO</h3>
                </div>
                <div class="content_tile">
                    <div class="tile_upper_title">
                        <h4>BIO</h4>
                    </div>
                    <div class="input_form">
                        <label for="nick">닉네임</label>
                        <input type="text" id="nick" name="name" value="{{ user }}" onKeyUp="document.getElementById('pre_name').innerHTML=this.value">
                    </div>
                    <div class="input_form">
                        <label for="crew">소속 또는 활동하는 크루</label>
                        <input type="text" id="crew" name="crew" value="TEAM DOPEHOTZ" onKeyUp="document.getElementById('pre_crew').innerHTML=this.value">
                    </div>
                    <div class="input_form">
                        <label for="location">활동지역</label>
                        <input type="text" id="location" name="location" value="seoul city" onKeyUp="document.getElementById('pre_location').innerHTML=this.value">
                    </div>
                    <div class="input_form">
                            <label for="artistbio">아티스트 소개(최대 600자)</label>
                            <textarea id="artistbio" name="artistbio" value="Travis Scott" maxlength="600" onKeyUp="document.getElementById('pre_info').innerHTML=this.value">2017 잔다리페스타 공식 쇼케이스에서 선보인 '내일(Have a good day)' 라이브음원으로도 많이많이 들어주세요!!! 이제 다음 공연에서 만납시다:) 인스타그램/페북에서도 소식 확인해주시면 감사감사+_+</textarea>
                        </div>
                </div>
                <div class="content_tile">
                    <div class="tile_upper_title">
                        <h4>MESSAGE</h4>
                    </div>
                    <div class="input_form">
                        <label for="thxdope">좋아요 감사 메시지</label>
                        <input type="text" id="thxdope" name="thxdope" value="{{ user.profile.likes_greeting }}">
                    </div>
                    <div class="input_form">
                        <label for="thxplay">플레이 감사 메시지</label>
                        <input type="text" id="thxplay" name="thxclip" value="{{ user.profile.clips_greeting }}">
                    </div>
                </div>
                <div class="content_tile">
                    <div class="tile_upper_title">
                        <h4>ACCOUNT INFO</h4>
                    </div>
                    <div class="input_form">
                        <label for="tracktag">사운드 클라우드 ID</label>
                        <input type="text" id="sndcleid" name="sndcleid" value="{{ user.profile.soundcloud_id }}" disabled="">
                        <a class="conect_snd">계정 새로고침</a>
                    </div>
                    <div class="input_form">
                        <label for="tracktag">로그인 계정(ID)</label>
                        {% for account in user.socialaccount_set.all %}
                        <input type="text" id="naverid" name="naverid" value="{{ account.provider|upper }}&nbsp;({{ account.extra_data.email }})" disabled="">
                        {% endfor %}
                    </div>
                </div>
                <div class="content_tile">
                        <div class="tile_upper_title">
                            <h4>ACCOUNT GROUP</h4>
                        </div>
                        <div class="input_form">
                            <label for="tracktag">계정 그룹</label>
                            <input type="text" id="accgrade" name="accgrade" value="OFFICIAL" disabled="">
                        </div>
                    </div>
                <div class="track_submit_wrap">
                    <button class="track_submit">저장</button>
                </div>
            </div>
            <div class="innercontent_layout_r">
                <div class="content_title_wrap">
                    <h3>PREVIEW</h3>
                </div>
                <div class="profile_card">
                    <div class="profile_top_wrap">
                        <div class="profile_top">
                            <div class="profile_top_img" style="background-image: url(https://i1.sndcdn.com/avatars-000289816634-ffh7qa-t500x500.jpg);">
                                <div class="top_artwork_play play_trigger" data-tracknum="295691453">
                                    <img class="play_btn_img" src="/static/img/assets/play.png">
                                </div>
                            </div>
                            <h2 id="pre_name">{{ user }}</h2>
                            <span class="profile_position" id="pre_crew">소속사 또는 크루</span>
                            <div class="profile_itrctn">
                                <a href="#" class="follow_user checked">follow</a>
                            </div>
                            <span class="profile_location" id="pre_location">활동지역</span>
                            <p id="pre_info">소개말을 입력해주세요.</p>
                            <div class="profile_social_wrap">
                                <ul>
                                    <li>
                                        <dd>1,548</dd>
                                        <dt>FANATIC</dt>
                                    </li>
                                    <li>
                                        <dd>21,142</dd>
                                        <dt>PLAY</dt>
                                    </li>
                                    <li>
                                        <dd>7,652</dd>
                                        <dt>LIKE</dt>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}