{% extends "tower/base.html" %}
{% block head_title %}DOPEHOTZ - 로그인{% endblock %}
{% load socialaccount %}
{% block content %}
<div class="layout_body">
    <!-- 트랙이 있을때 -->
    <div class="sub_title" style="background-image: url(/static/img/sub_main/sub_main04.jpg)">
        <div class="title_area">
            <h2>SOCIAL</h2>
            <h1>EDIT PROFILE</h1>
        </div>
    </div>
    <div class="content">
        <div class="content_title_wrap">
            <h3>YOUR FANATIC</h3>
        </div>
    </div>
</div>
{% endblock %}