{% extends "tower/base.html" %}
{% block head_title %}DOPEHOTZ - 로그인{% endblock %}
{% load socialaccount %}
{% block content %}
<div class="layout_body">
    <div class="content">
        <div class="post_carousel_wrap">
            <ul class="post_carousel">
                <li class="post_track_con" data-hash="1">
                    <a href="#1"><img src="https://i1.sndcdn.com/artworks-000173376949-k8x4ze-t500x500.jpg"></a>
                    <p>Kamikaze (Feat. Wella Rhogus)</p>
                    <a class="select_post_btn">선택</a>
                </li>
                <!-- ---------------------------------------------------------- -->
                <li class="post_track_con" data-hash="2">
                    <a href="#2"><img src="https://i1.sndcdn.com/artworks-000173376949-k8x4ze-t500x500.jpg"></a>
                    <p>Kamikaze (Feat. Wella Rhogus)</p>
                    <a class="select_post_btn">선택</a>
                </li>
                <li class="post_track_con" data-hash="3">
                    <a href="#3"><img src="https://i1.sndcdn.com/artworks-000173376949-k8x4ze-t500x500.jpg"></a>
                    <p>Kamikaze (Feat. Wella Rhogus)</p>
                    <a class="select_post_btn">선택</a>
                </li>
                <!-- ---------------------------------------------------------- -->
            </ul>
            <div class="prev_select select_arrow"></div>
            <div class="next_select select_arrow"></div>
        </div>
    </div>
</div>
{% endblock %}