{% extends "tower/base.html" %}
{% block head_title %}DOPEHOTZ - 로그인{% endblock %}
{% load socialaccount %}
{% load tower_extras %}

{% block content %}
<div class="layout_body" id="app1">
    <div class="content">
        <div class="post_carousel_wrap">
            <h2>공개할 트랙을 선택해 주세요.</h2>
            <ul class="post_carousel">
                {% for post in post_list %}
                <li class="post_track_con" data-hash="{{ forloop.counter }}">
                    <a href="#{{ forloop.counter }}"><img src="{{ post.user.avatar_url|change_picture }}"></a>
                    <p>{{ post.title }}</p>
                    <a href="/post/new/{{ post.id }}" class="select_post_btn">선택 </a>
                </li>
                {% endfor %}               
            </ul>
            <div class="prev_select select_arrow"></div>
            <div class="next_select select_arrow"></div>
        </div>
    </div>
</div>

<script>
var vm1 = new Vue({
    el: "#app1",
    data: {
        post_list: []
    },
    methods: {

    },
    mounted: function() {
        
    },
})
</script>
{% endblock %}