<html>
    <body>
        <div>
            <span>{{tracks}}</span>|
            <span>
            {% for comment in tracks.comment.all %}
            <div style="margin-left: 15px;">
                {{ comment.content }}
                {% for reply in comment.children.all %}
                <div style="margin-left: 15px;">
                    {{reply}}
                </div>
                {% endfor %}
                
            </div>
            {% endfor %}
            </span>
        </div>
    </body>
</html>